{% extends 'base.html' %}

{% block contenido %}
    <h2>Recuperar Contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Enviar Correo</button>
    </form>
{% endblock %}

<center>
    <div class="container" style="margin-top: 300px;">
        <div class="messages">
            {% for message in messages %}
            <table {% if message.tags  %} class="{{message.tags}}" {% endif %}>{{mesage}}</table>
            {% endfor %}
        </div>
    </div>
</center>
 
