{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

<title> {% block title %} Categorías {% endblock title %} </title>
{% block contenido %}
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categorías</h1>
            <p>
                Desde aquí puedes elegir los artículos según la categoría que desees
            </p>
        </div>
    </div>
    <div class="row">
        {% for categoria in categorias %}
        <div class="col-md-12 p-5">
            <h4 class="text-center mt-3 mb-3">{{ categoria.nombre | capfirst }}</h4>
                <p class="text-center"><a class="btn btn-success" href="{% url 'apps.articulo:articulos_por_categoria' pk=categoria.pk %}">Ingresá</a></p>
            {% if user.is_superuser or request.user|has_group:"Colaborador"  %}
                <p class="text-center"><a class="btn btn-warning" href="{% url 'apps.articulo:categoria_delete' pk=categoria.pk %}">Eliminar</a></p>
            {% endif %}
        {% empty %}
            <h3 class="text-center mt-3 mb-3">No hay categorías</h3>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}