{% extends 'base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}

<center>

<div class='main-container' style="text-align: center; margin-top: 12%; margin-bottom: 12%;"></div>
        <h1>Agregar nueva categoría</h1>
        <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit" value="Agregar">
    </form>
    <div class="container-fluid" style="margin-top: 300px;">
        <a class="btn btn-success" 
        href="{% url 'apps.articulos:categoria_lista' %}">Listar todas las categorias</a>
    </div>
</div>
</center>
{% endblock %}