{% extends 'base.html' %}
{% load static %}

<title></title>{% block title %}Artículo: {{ articulos.titulo | capfirst }} {%endblock %}</title>

{% block contenido %}



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5"><!-- div derecho carrousel imagenes artículo -->

                    <div class="card mb-3"><!-- imagen superior - header - carrousel imagenes artículo -->
                        <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Card image cap" id="product-detail">
                    </div>

                    <div class="row"><!-- carrousel imagenes artículo especificamente -->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center"><!-- flechita izquierda -->
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel"><!-- imagenes carrousel -->

                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Product Image 4">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Product Image 5">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="Product Image 6">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Second slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ articulos.titulo | capfirst }}</h1>
                            <p class="h3 py-2">{{ articulos.resumen | capfirst }}</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Categoría</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ articulos.categoria | capfirst }}</strong></p>
                                </li>
                            </ul>

                            <h6>Contenido</h6>
                            <p>{{ articulos.contenido | capfirst }}</p>

                            <form action="" method="GET">
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Comentar</button>
                                    </div>
                                    <!--Solo si es colaborador-->
                                    
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Modificar artículo</button>
                                    </div>
                                    <!--Solo si es colaborador-->
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Regresar a noticias</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    <!-- Start Article -->
    <section class="py-5">
        <div class="container">
            <div class="row text-left p-2 pb-3">
                <h4>Comentarios</h4>
            </div>

            <!--Start Carousel Wrapper-->
            <div id="carousel-related-product">

                <div class="p-2 pb-3">
                    <div class="product-wap card rounded-0">
                        <div class="card rounded-0">
                            <a>nombre del usuario</a>
                        </div>
                        <div class="card-body">
                            <a><span>titulo del comentario - no es necesario, puede llevar por defecto</span></a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <p>contenido del comentario</p>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">se podría poner me gusta acá</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Article -->


{%endblock %}
